.default-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins";
}

.default-button:hover {
  background-color: #0056b3;
}

.default-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.default-button.disabled:hover {
  background-color: #007bff;
}
