/* Common styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Styles for desktop screens */
.appBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ece4f9;
}

.headerComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15px;
  padding: 5px;
}

.appLogo {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
}

.headerWelcome {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  text-align: left;
}

.headerImposter {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  text-align: left;
}

.promptParent {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 5px;
}

.promptContainer {
  background-color: #d0b9f5c0;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.characterContainer {
  background-color: #d0b9f5c0;
  aspect-ratio: 1;
  border-radius: 25px;
  width: 275px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centered-component {
  width: 100%;
  display: flex;
  justify-content: center;
}

.refreshCharacter {
  max-width: 35px;
  max-height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.refreshCharacter:hover {
  max-width: 40px;
  max-height: 40px;
}

.bottom-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 400px;
}

.largeText {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 19px;
}

.midText {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 2px;
}

.smallText {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
}

.centeredText {
  text-align: center;
}

.leftText {
  text-align: left;
}

.joinRoomAction {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.rightText {
  text-align: right;
}

/* Styles for mobile screens */
@media (max-width: 500px) {
  .appLogo {
    max-width: 75px;
    max-height: 75px;
  }

  .headerWelcome {
    font-size: 0.75rem;
  }

  .headerImposter {
    font-size: 1.5rem;
  }

  .promptContainer {
    width: 98%;
  }

  .characterContainer {
    width: 95%;
    height: auto;
    aspect-ratio: 1;
  }

  .refreshCharacter {
    max-width: 25px;
    max-height: 25px;
    top: 5px;
    right: 5px;
  }

  .bottom-container {
    width: 98%;
  }
}

/* Styles for tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {
}
