.default-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 95%;
  padding-top: 10px;
}

.default-input-label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
}

.default-input-field {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-family: Poppins;
  transition: background-color 0.3s;
}

.default-input-field:focus {
  background-color: #e1e1e1;
}
